// color
$white: #ffffff;
$white2: #f6f6f6;
$white3: #f2f2f2;
$white4: #e8e8e8;
$red: #c70101;
$black: #050505;
$black2: #0d0d0d;
$gray: #555555;
$gray2: #646464;
$gray3: #4b4b4b;
$gray4: #6b6b6b;
$gray5: #d0d0d0;


// path
$intro-path: '../images/intro-bg.jpg';
$consultation-path: '../images/consultation_bg.jpg';


