.catalog {
   padding-bottom: 103px;

   text-align: center;

   h2 {
      margin-bottom: 70px;
   }

   &__tabs {
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
      list-style-type: none;
   }

   &__tab {
      margin: 0 5px;
      width: 220px;
      height: 50px;
      border: 2px solid $gray5;
      cursor: pointer;

      font-size: 18px;
      font-weight: 500;
      color: $gray4;
      text-transform: uppercase;
      text-align: center;
      line-height: 48px;

      transform: skew(-27deg);

      transition: all .1s linear;
      

      &:hover {
         box-shadow: 3px 3px 13px 0px $red;
      }

      div {
         transform: skew(27deg);
      }
      
      &--active {
         background: $red;
         color: $white;
         border: none;
         box-shadow: 0px 0px 5px 0px $red;
      }
   }

   &__content {
      display: none;
      margin: 0 auto;
      margin-bottom: 15px;
      flex-wrap: wrap;
      align-items: stretch;
      row-gap: 15px;
      column-gap: 10px;

      transition: .3s all;

      &--active {
         display: flex;
      }
   }

   &__card {
      padding: 20px 20px 27px 20px;
      width: 300px;
      border: 2px solid $white4;
      overflow: hidden;

      hr {
         margin: 20px 0;
      }

      &__wrapper {
         display: flex;
         width: calc(200% + 40px);
      }

      &__content {
         width: 50%;
         transform: translateX(-110%);
         margin-right: 0px;
         transition: .5s all;
         &--active {
            transform: translateX(0%);
            margin-right: 20px;
         }
      }

      &__list {
         position: relative;
         width: 50%;
         margin-left: 20px;
         padding-right: 20px;
         transform: translateX(0%);
         transition: .5s all;

         min-height: 360px;
         li {
            margin-bottom: 10px;
            padding-left: 19px;
            
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            list-style-type: none;

            position: relative;

            &::before {
               content: "";

               width: 5px;
               height: 5px;
               background: $red;

               position: absolute;
               top: 5px;
               left: -13px;
            }
         }

         &--active {
            transform: translateX(-100%);
            margin-left: 0px;
         }
      }

      &__img {
         display: block;
         margin: 0 auto;
         max-width: 100%;
         height: 200px;
         overflow: hidden;
      }

      &__title {
         margin-top: 20px;
         margin-bottom: 0;

         font-size: 16px;
         font-weight: 700;
         text-align: center;
         color: $black2;
      }

      &__desc {
         margin-top: 16px;
         margin-bottom: 0;

         font-size: 14px;
         font-weight: 300;
         text-align: center;
         color: $black2;
      }

      &__link {
         margin-top: 16px;
         display: block;
         font-size: 14px;
         font-weight: 500;
         text-align: center;
         color: $red;
         text-transform: uppercase;

         &:hover {
            color: $red;
            text-decoration: none;
         }
         &--list-exit {
            position: absolute;
            bottom: 27px;
            left: 50%;
            transform: translate(calc(-50% - 19px))
         }
      }

      &__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &__prices {
         display: flex;
         flex-direction: column;
      }

      &__old-price {
         font-size: 14px;
         font-weight: 300;
         text-align: left;
         text-decoration: line-through;
         color: $gray;
      }

      &__price {
         font-size: 20px;
         font-weight: 700;
         text-align: left;

         color: $black;
      }
   }
}