.feed-form {
   max-width: 300px;

   display: flex;
   flex-direction: column;

   &--mt {
      margin-top: 36px;
   }
   &--mt-25 {
      margin-top: 25px;
   }

   input {
      margin-bottom: 15px;
      padding: 0 20px;
      height: 50px;

      border: none;
      border-radius: 5px;
      background-color: $white;

      &:nth-child(3) {
         margin-bottom: 20px;
      }
   }
}